{% extends "base.html" %}

{% load i18n %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}
{% block title %}{% trans 'signup title page' %}{% endblock %}

{% block content %}

<main class="container">
    <div class="card">
        <h2>{% trans 'signup title' %}</h2>
        <p class="error">{{ error_msg }}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.email }}
            {{ form.password }}
            <button type="submit">{% trans 'signup submit' %}</button>
        </form>
        {% if form.errors %}
            <div class="error">
                <p>{% trans 'signup form errors' %}</p>
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="signup-links">
        <a class="signup-links-login" href="{% url 'accounts:login' %}">{% trans "Login Page" %}</a>
    </div>
</main>

{% include "footer.html" %}

{% endblock %}