{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'category add title' %}{% endblock %}

{% block content %}
<main>
  <div class="form-container">
    <h2 class="form-title">{% trans 'category add title' %}</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-control">
        {{ form.title.label_tag }}
        {{ form.title }}
        {% if form.title.errors %}
          <ul class="form-errors">
            {% for error in form.title.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <button type="submit" class="btn">{% trans 'category add' %}</button>
      <a href="{% url 'todos:category_list' %}" class="btn btn-cancel">{% trans 'cancel' %}</a>
    </form>
  </div>
</main>
{% endblock %}
