{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block title %}{% trans 'home title page' %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
{% include "header.html" %}

<main>
    <h2>{% trans 'home graph title' %}</h2>
    <div class="graph">
        <div class="bar-chart-container">
            <canvas id="bar-chart"></canvas>
        </div>
        <div class="doughnut-chart-container">
            <canvas id="doughnut-chart"></canvas>
        </div>
    </div>
</main>

<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>

{% endblock %}