{% extends "base.html" %}

{% load i18n %}

{% load static %}

{% block title %}{% trans 'gantt title page' %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/frappe-gantt.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/gantt_custom.css' %}">
{% endblock %}

{% block content %}
{% include "header.html" %}

<main class="gantt-main">
    <div class="gantt-controls">
        <select id="gantt-view-mode">
            <option value="Day">Day</option>
            <option value="Week" selected>Week</option>
            <option value="Month">Month</option>
        </select>
    </div>
    <div id="gantt">
    </div>
</main>

<script src="{% static 'js/frappe-gantt.umd.js' %}"></script>
<script src="{% static 'js/task_gantt.js' %}"></script>

{% endblock %}