{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block title %}{% trans 'update task title page' %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/task_update_form.css' %}">
{% endblock %}

{% block content %}
<main>
  <div class="form-container">
    <h2 class="form-title">{% trans 'update task title' %}</h2>
    {% if form.errors %}
    <ul class="form-errors">
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="form-control">
        {{ form.title.label_tag }}
        {{ form.title }}
      </div>
      <div class="form-control">
        {{ form.category.label_tag }}
        {{ form.category }}
      </div>
      <div class="form-control">
        {{ form.status.label_tag }}
        {{ form.status }}
      </div>
      <div class="form-control">
        {{ form.priority.label_tag }}
        {{ form.priority }}
      </div>
      <div class="form-control">
        {{ form.progress.label_tag }}
        {{ form.progress }}
      </div>
      <div class="form-control">
        {{ form.start_date.label_tag }}
        {{ form.start_date }}
      </div>
      <div class="form-control">
        {{ form.due_date.label_tag }}
        {{ form.due_date }}
      </div>
      <div class="form-control">
        {{ form.description.label_tag }}
        {{ form.description }}
      </div>
      <input type="hidden" name="referer-url" value="{{ request.GET.next|default:default_cancel_url }}">
      <div class="form-action">
        <button type="submit">{% trans 'update btn' %}</button>
        <a href="{{ request.GET.next|default:default_cancel_url }}">{% trans 'cancel btn' %}</a>
      </div>
    </form>
  </div>
</main>
{% endblock %}